<div class="todoContainer bg-green">
    <h2 class="ttu tracked2 b f3 mv0 ph4 pv3 bg-gray8 br2 br--top white">TODOs</h2> 
    <article class="fw6 flex flex-row items-center ph3 bg-white mb1">
        <i class="svg-inline--fa fa fa-plus fa-w-14 fa-fw fa-lg"></i>
        <span class="ml3 bl bw1 b--black-50 pl3 pv3 text-cursor" 
              *ngIf="!addTaskEditMode"
              (click)="addTaskEditMode=true;">Add to do task</span>
        <span class="ml3 bl bw1 b--black-50 pl3 pv3 text-cursor" 
              *ngIf="addTaskEditMode">
            <input [(ngModel)]="addTaskText" 
                   class="addTaskInput" 
                   (keyup.enter)="focusOutAddTask()"
                   (focusout)="focusOutAddTask()">
        </span>
        
    </article> 
    <article class="fw6 flex flex-row items-center ph3 br2 br--bottom bg-white-90" *ngFor="let task of pendingTasks">
        <i class="svg-inline--fa fa fa-check fa-w-14 fa-fw fa-lg pointer"></i>
        <span class="ml3 bl bw1 b--black-50 pl3 pv3 text-cursor">{{task.title}}</span>
    </article>
    <article class="fw6 flex flex-row items-center ph3 bg-white-90 o-50 mb1" *ngFor="let task of completedTasks">
        <i class="svg-inline--fa fa fa-trash fa-w-16 fa-fw fa-lg pointer"></i>
        <span class="ml3 bl bw1 b--black-50 pl3 pv3 completed-Task">{{task.title}}</span>
    </article> 
<!--
    <article class="fw6 flex flex-row items-center ph3 bg-white-90 o-50 mb1">
        <i class="svg-inline--fa fa fa-trash fa-w-16 fa-fw fa-lg pointer"></i>
        <span class="ml3 bl bw1 b--black-50 pl3 pv3 completed-Task">Set up Font Awesome 5</span>
    </article> 
-->
</div>



<!--
<p (click)="toggle('pendingCollapse')" class="taskListHeader">To Do Tasks</p>
<div class="" id="pendingCollapse">
    <div class="card task-card text-center" >
        <div class="card-body" style="">
            <div>
            </div>
            <i class="fa fa-plus fa-5x"></i>
            <p class="card-title">Add To Do</p>
        </div>
    </div>
    <div class="card task-card text-white bg-dark" *ngFor="let task of pendingTasks">
        <div class="card-body">
            <div class="pull-right">
                <a href="#" class="card-link" style="color: white;">
        <i class="fa fa-edit"></i>
      </a>
                <a href="#" class="card-link" style="color: white;">
        <i class="fa fa-trash"></i>
      </a>
            </div>
            <h5 class="card-title">{{task.title}}</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{getDiferenceInDays(task.updated)}}</small>
        </div>
    </div>
</div>


<p (click)="toggle('completedCollapse')" class="taskListHeader">Completed Tasks</p>
<div class="collapse" id="completedCollapse">
    <div class="card task-card" *ngFor="let task of completedTasks">
        <div class="card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <p><small class="text-muted">Completed  {{getDiferenceInDays(task.updated)}}</small></p>
        </div>
    </div>
</div>-->
