<div class="row align-items-center">
        <div class="col-sm ">
            <div class="row justify-content-center">
                <div class="col-sm-4 " style="margin-top:50px;">
                    <div class="card drop-shadow">
                        <div class="card-body card-section">
                            <div class="row" style="display: flex;
  align-items: center;
  justify-content: center;">
                                <h5>To Do Manager</h5>
                            </div>
                            <hr>
<!--                                <p>Please sign in ....</p>-->
                            <div class="row" style="display: flex;
  align-items: center;
  justify-content: center;">
                                <button class="loginBtn loginBtn--google" (click)="login()">
                                    Login with Google
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
