/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1abc9c;
}

.drop-shadow {
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
 
.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.drop-shadow p {
    font-size:16px;
    font-weight:bold;
}